{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/comicbookmanager"
    },
    "cloudant": {
      "db": "https://metithentsveneselynother:CDLIKVOrdlvkWkJgJ5sOM5os@ryanfaerman.cloudant.com/comicbookmanager"
    }
  }
}
